*{
    font-family: "Overpass", sans-serif;
margin: 0;
padding: 0;


    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image:linear-gradient(rgb(202, 202, 202),rgb(60, 54, 54));
    border-radius: 10px;
  }
}

nav ul{
    display: flex;
    text-align: center;
   justify-content: center;
   margin-left: 45%;
}
nav ul li{
padding: 40px;
padding-top: 20px;
font-size: 18px;
}


.first-headings{
    position: absolute;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 95px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(11, 96, 2);

}
a:hover{
    color: rgb(41, 205, 23);
    font-size:large;
    text-decoration: underline;
}
#section h2,h4{
    margin-left: 60px;
    padding: 15px;
}
#section .p-one{
    margin-left: 60px;
    width: 50%;
    background-color: lightgreen;
}
.p-two{
    margin-left: 60px;
    width: 50%;
}
.img1{
   position: relative;
   left: 50%;
    width: 600px;
    border-radius: 40px;
   margin-top: 85px;
   margin-bottom: 30px;
   padding-bottom: 40px;
}
#about{
    position: absolute;
    top: 25%;
    left: 4%;
    width: 40%;
    background-color: lightgrey;
    padding: 25px;
    border-radius: 20px;
  

}
#about h2{
    font-size: 28px;
}
#about .p-two{
   position: absolute;
   top: 110%;
   left: 20%;
   height: 50%;
   background-color: lightgrey;
   padding: 30px;
   border-radius: 30px;

}
#project h4{
    font-size: 21px;
}

#project,#services{
    background-color: rgb(17, 13, 13);
    color: white;
   padding-left: 30px;
   padding-bottom: 40px;
}

#project ul li:hover{
    transform: scale(1.01);
}
.project,.services{
    color: rgb(255, 187, 0);
    margin-left: 50px;
   padding-top: 50px;
   padding-bottom: 10px;
  font-size: 35px;
}
#footer{
    background-color: rgb(255, 200, 47);
    padding-bottom: 15px;
    padding-left: 30px;
    padding-top: 30px;
   
}

#footer p{
    text-align: center;
    padding-top: 15px;
    padding-bottom: -10px;
    font-size: small;
}
.footer1{
   display: flex;
   justify-content: space-around;
    font-size: 15px;
    border-bottom: 1px solid black;

}
.footer2{
    font-size: 16px;
    padding-top: 20px;
    padding: 15px;
    margin-left: -30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.footp{
    text-align: center;
    padding-top: 10px;
}
.fa-brands{
    font-size: 30px;
    padding-right: 15px;
    color: rgb(12, 12, 12);
}
.contact{
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -30px;
    margin-top: -10px;
    padding-bottom: 30px;
  
}
#project ul{
    display: flex;
    border: 1px solid ;
    width: 95%;
    padding-left: 20px;
    padding: 15px;
    background-image: linear-gradient(black,rgb(25, 25, 11));
    
}
#project ul:hover{
    transform: scale(1.01);
}
#project ul li{
    width: 23%;
    margin-left: 25px;
    padding: 17px;

}
#services{
    transition: all 1s ease-in-out;
    margin: 0px;
    padding: 0px;
}
#services p{
    margin: 15px;
    font-size: 15px;
}
#services h5{
    margin: 15px;
    font-size: 25px;

}
.skill{
    display: flex;
  justify-content: space-evenly;
}


.iconcontainer{
    height: 120px;
    margin-left: 6%;
    padding-top: 20px;
   
   
}
.iconcontainer img{
    margin: 15px;
    height: 50px;
  
}
#blog{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkgrey;
    padding: 20px;
    padding-bottom: 100px;
}
#blog h2{
   text-align: center;
   margin-bottom: 20px;
   padding-top: 20px;
}
#blog h4{
    padding: 5px;
    color: rgb(141, 0, 0);
    font-size: 24px;
    padding-bottom: 20px;
    text-decoration: underline;

}
#blog h5{
    padding: 5px;
    margin-left: 40px;
    
}
#blog span{
    font-size: 18px;
    font-weight: 900;
    padding-top: 25px;
    margin-left: 50px;
    color: rgb(206, 0, 0);

}
#blog p{
    margin-left: 40px;
    margin-right: 40px;
}